* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-image: url(../img/bg3.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 100%; }

.card:hover {
  background-color: rgba(130, 165, 202, 0.5); }

.card {
  background-color: rgba(130, 165, 202, 0.2);
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding-top: 1px;
  /*  height: 346px;*/ }

.card .card-action:last-child {
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px; }

.card .card-action {
  text-align: center; }

nav {
  background-color: rgba(130, 165, 202, 0.4);
  position: fixed;
  z-index: 1; }

.scroll nav {
  background-color: rgba(130, 165, 202, 0.8); }

nav .nav-wrapper {
  padding: 0% 15%; }

h1 {
  margin: 0;
  text-align: center;
  font-weight: bold; }

h3 {
  color: white;
  text-align: center; }

main .row {
  padding-top: 20%;
  margin-bottom: 2%; }

.row .pad5 {
  padding: 5%; }

.page-footer {
  background-color: rgba(130, 165, 202, 0.32); }

footer .row, footer ul {
  margin-bottom: 0; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px; }
  .card_h3 {
    font-size: 1.8vw; }
  main {
    font-size: 30px; }
  main .row {
    padding: 10% 0.75rem 0rem; }
  h1 {
    font-size: 3rem;
    line-height: 140%; }
  .card p {
    font-size: 1.4vw; }
  .card ol li {
    font-size: 1.1vw; }
  .container {
    min-width: 90%; } }

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 2rem;
    line-height: 200%; }
  nav .brand-logo {
    font-size: 1.5rem; }
  .card_h3 {
    font-size: 1.8vw; }
  main .row {
    padding-top: 8%; }
  .card p {
    font-size: 1.4vw; }
  .card ol li {
    font-size: 1.1vw; }
  .container {
    min-width: 90%; } }

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
    line-height: 200%; }
  nav .brand-logo {
    font-size: 1.5rem; }
  .card_h3 {
    font-size: 1.8rem; }
  main .row {
    padding-top: 8%; }
  .card p {
    font-size: 1.5vw; }
  .card ol li {
    font-size: 1.54vw; }
  .container {
    min-width: 90%; } }

@media only screen and (max-width: 760px) {
  main {
    font-size: 15px; }
  main .row {
    padding-top: 10%; }
  main .row2 {
    padding-top: 0%; }
  .card p {
    font-size: 1.9vw; }
  .card ol li {
    font-size: 1.9vw; }
  .container {
    min-width: 90%; } }

@media only screen and (max-width: 480px) {
  main .row {
    padding-top: 20%; }
  main {
    font-size: 10px; }
  h1 {
    font-size: 1.5rem;
    line-height: 240%; }
  nav .brand-logo {
    font-size: 1rem; }
  .card p {
    font-size: 3vw; }
  .card ol li {
    font-size: 3vw; } }

@media only screen and (max-width: 320px) {
  main .row {
    padding-top: 20%; }
  main {
    font-size: 10px; }
  h1 {
    font-size: 1.5rem;
    line-height: 240%; }
  nav .brand-logo {
    font-size: 1rem; }
  .card p {
    font-size: 3vw; }
  .card ol li {
    font-size: 3vw; } }
